.square{
	width: 30%;
	margin : 1.66%;
	background-color: purple;
	float : left;
	padding-bottom: 30%;
	border-radius: 20px;
	transition: background 0.7s;
}

body{
	background-color: #232323;
	margin : 0;
	font-family: "Montserrat", "Avenir";
}

.container {
	max-width: 600px; 
	margin: 30px auto;
}

h1{
	color : white;
	line-height: 1.1;
	margin: 0;
	text-align: center;
	background-color: steelblue;
	padding: 20px 0;
	text-transform: uppercase;
	font-weight: 300;
}
#navbar{
	background: white;
	height: 20px;
	color: black;
	text-align: center;
}

.selected{
	background-color: steelblue;
	color:white;
}

#colorDisplay{
	font-size: 2.0em;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	color: steelblue;
	font-weight: 700;
	height: 100% ;
	font-size: inherit;
	letter-spacing: 1px;
	outline: none;
}
button:hover{
	color:white;
	background-color: steelblue;
	transition: all 0.4s;
}
#message{
	display: inline-block;
	width : 20% ;
}
